@media screen and (max-width: 600px) {
    p {
        font-size: 14px;
        font-weight: 100;
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(28, 28, 28);
    font-family: Arial, sans-serif;
    color: whitesmoke;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the body takes up the full height of the viewport */
    margin: 0; /* Remove default margin */
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: 1000;
    padding-bottom: 20px;;
}

p {
    padding-bottom: 5px;
    letter-spacing: .01em;
}


table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    width: 50px; /* Set your desired width */
    height: 50px; /* Set your desired height */
    border: 1px solid white;
    text-align: center;
    size: 80px;
    text-transform: capitalize;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
}

.invisible {
    opacity: 0;
}

#error-message {
    color: red;
    opacity: 0;
    text-transform: uppercase;
}

#wordle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Button effects */
#guess-button, #reset-button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 1000;
    padding: 10px 20px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
  }
  
  #guess-button:hover, #reset-button:hover {
    background-color: #000;
    color: #fff;
  }
  
  #guess-button:active, #reset-button:active {
    background-color: #444;
    color: #fff;
    border-color: #444;
  }
  
  /* Notification window*/
  #notification {
    position: fixed;
    display: flex;
    top: 150px;
    width: 250px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}